{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <h1>Form Submitted Successfully!</h1>

    <p>The time zone {{ inputTimezone }} has {{ offsetMinutes }} minutes offset to UTC on the given day at noon.</p>
    <p>February in this year is {{ februaryLength }} days long.</p>
    <p>The specified month ({{ monthName }}) is {{ monthLength }} days long.</p>

{% endblock %}
